// Here you can add other styles
@font-face
{
  font-family: 'Bookman Old Style';
  //src: url('../assets/fonts/2E8332_1_0.eot');
  //src:
    //url('../assets/fonts/2E8332_1_0.eot?#iefix') format('embedded-opentype'),
    //url('../assets/fonts/2E8332_1_0.woff2') format('woff2'),
    //url('../src/_assets/fonts/bookman-old-style.woff') format('woff'),
    //url('../src/_assets/fonts/bookman-old-style.ttf') format('truetype');
}

$header-size : "180px";

.dashboard-container{
  position: relative;
  background-color: #00aced;
  margin-top: 0px;
  padding-top: 0px;
  height: calc(100vh - 180px);
}

.dashboard-container1{
  position: relative;
  background-color: lightgray;
  margin-top: 0px;
  padding-top: 0px;
  height: calc(100vh - 170px);
}

.main_card{
  height: calc(100vh - 10px);
}

.colormapImageDropdown {
  height: 15px
}

.box_shadow {
  border: 1px solid gray;
  box-shadow: 0 2px 2px 2px darkgray;
}
