// Here you can add other styles
@font-face
{
  font-family: 'Bookman Old Style';
  //src: url('../assets/fonts/2E8332_1_0.eot');
  //src:
    //url('../assets/fonts/2E8332_1_0.eot?#iefix') format('embedded-opentype'),
    //url('../assets/fonts/2E8332_1_0.woff2') format('woff2'),
    //url('../src/_assets/fonts/bookman-old-style.woff') format('woff'),
    //url('../src/_assets/fonts/bookman-old-style.ttf') format('truetype');
}

$header-size : "180px";

//.dashboard-container{
//  position: relative;
//  background-color: #D8000C;
//  margin-top: 0px;
//  padding-top: 0px;
//  height: calc(100vh - 180px);
//}

.main_card{
  height: calc(100vh - 10px);
}

.colormapImageDropdown {
  height: 13px
}

.box_shadow {
  border: 1px solid gray;
  box-shadow: 0 2px 2px 2px darkgray;
}

.vue-good-table-header-style{
  font-size: 90%;
}
.vue-good-table-td-style{
  font-size: 80%;
}
.vgt-table th.line-numbers
{
  font-size: 80%;
}

.options { position: absolute; top: 0; right: 0; padding: 3px; background: rgba(255,255,255,0.6);
  border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; line-height: 1; }
.options label { width: 60px; float: left; text-align: left; margin-right: 10px; padding-left: 5px; color: #555; }
